body {
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
	font-family: 'Fira Code', monospace;
	font-size: 10px;
	background-color: #282a36;
	color: #f8f8f2;
	min-height: 300px;
	user-select: none;
	padding: 0px;

  }
  


a {
	text-decoration: none;
	color: #ff79c6;
}

section.main {
	float: left;
	clear: both;
	min-width: 280px;
	padding: 0px 7px;
	width: 95%;
}

section#header {
	vertical-align: middle;
	margin-top: -5px;
	margin-bottom: 3px;
	background-color: #44475a;
}

section#header h1 {
	font-size: 1em;
	color: #f8f8f2;
}

section#header h1 img {
	vertical-align: middle;
	max-width: 16px;
	max-height: 16px;
}

section#header .page, section#header .switch {
	float: right;
	clear: none;
}

section#header a#title {
	float: left;
	clear: left;
	font-weight: bold;
	color: #f8f8f2;
	font-size: 1.15em;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
	margin-top: 2px;
}

section#header a#title img{
	margin-top: -3px;
}

section#header a.page, section#header a.switch {
	margin-left: 7px;
	font-size: 1.4em;
	cursor: pointer;
	outline: none;
	color: #ffff00;
}

section#header .fa {
	color: #f8f8f2;
	opacity: .6;
}



section#header .fa-github {
	color: #bd93f9;
}

section#header .fa-user-circle-o {
	zoom: 95%;
}

section#header .fa-lightbulb-o {
	margin-right: 3px;
}

section#header .fa:hover {
	opacity: 1;
}

section#header .fa.highlight {
	/* Add a highlight effect to the icons */
	-webkit-filter: brightness(1.5);
	filter: brightness(1.5);
	transition: all 0.3s ease;
  }
  

section#header a.switch i.fa-toggle-off {
	color: #ff5555;
}

section#header a.switch i.fa-toggle-on {
	color: #50fa7b;
}

section#search {
	margin: 0px;
}

section#search p {
	margin: 0px;
	padding: 1px 1px 1px 5px;
	border-radius: 3px 3px 0px 0px;
}
  

section#search i {
  color: #f8f8f2;
}

section#search input {
	color: #f8f8f2;
	border: 0px;
	border-radius: 3px;
	background: transparent;
	padding: 3px;
	outline: none;
	width: auto;
	min-width: 200px;
}

section#content h1 {
	background-color: #000000;
	color: #f8f8f2;
	padding: 3px 4px 3px 4px;
	margin: 0px;
	border-radius: 2px;
	font-size: 1em;
	text-shadow: 0 1px #000;
}

section#content ul {
	margin: 0px 0px;
	padding: 0px 0px;
	list-style-type: none;
	background-color: #282a36;
	color: #f8f8f2;
	border-radius: 5px;
}

section#content ul li {
	color: #f8f8f2;
	background-color: #0c0c10;
	padding: 3px 2px;
	border-radius: 0px;
	cursor: pointer;
}
  

section#content ul li:hover {
	color: #50fa7b;
	text-shadow: 0 1px 0 #44475a;
	background-color: #44475a;
	box-shadow: 0px 0px 15px rgba(0,0,0,.2);
	border-radius: 0px;
}
  

section#content ul li img {
	vertical-align: middle;
	margin-top: -2px;
}




/** Disabled Status */
section#content li.disabled {
	color: #f8f8f2;
	background-color: #282a36;
	opacity: 0.2;
}

section#content li.disabled:hover {
	color: #f8f8f2;
	opacity: 0.5;
	box-shadow: none;
}
  
  

section#content li.disabled img {
	opacity: 0.7;
}

section#content li i.fa-gear {
	float: right;
	margin-top: 2px;
	padding-right: 2px;
	color: #f8f8f2;
	font-size: 1.1em;
}
  

section#content li i.fa-gear:hover {
	color: #ff79c6;
}

section#content li i.fa-flask {
	color: #fb1900;
}
  
section#profiles i.fa-check {
	color: #50fa7b;
}

section#profiles i.fa {
	min-width: 15px;
	text-align: center;
}
  
section p.empty {
	text-align: center;
	color: #f8f8f2;
}
  
section p.empty i.fa {
	font-size: 2em;
	margin-bottom: 10px;
}
  